@use 'variable' as *;

@mixin border-box {
  box-sizing: border-box;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin dot {
  width: 0.8rem;
  height: 0.8rem;
  background: rgba($color: #ececec, $alpha: 1);
  border-radius: 50%;
  margin: 0.4rem;
  &:hover {
    filter: brightness(120%);
  }
}

@mixin hover-brightness {
  transition: filter 250ms ease-in-out;
  &:hover {
    filter: brightness(120%);
  }
}

@mixin hover-lift {
  transition: transform 250ms ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

@mixin hover {
  @include hover-brightness;
  @include hover-lift;
}

@mixin title {
  font-size: $fonts-size-XL;
  font-weight: bold;
}
