// TYPOGRAPY
$fonts-size-S: 1.25rem;
$fonts-size-M: 1.6rem;
$fonts-size-L: 2rem;
$fonts-size-XL: 3rem;

// COLORS
$clr-secondary: hsl(337, 94%, 28%);
$clr-primary: hsl(221, 94%, 28%);
$clr-ternary: hsl(29, 94%, 28%);

$clr-shade-01: hsl(0, 0%, 100%);
$clr-shade-02: hsl(220, 43%, 97%);
$clr-shade-03: hsl(224, 100%, 96%); 
$clr-shade-04: hsl(32, 100%, 89%);
$clr-shade-05: hsl(223, 87%, 85%);
$clr-shade-06: hsl(142, 77%, 83%);
$clr-shade-07: hsl(0, 0%, 76%);
$clr-shade-08: hsl(223, 12%, 66%);
$clr-shade-09: hsl(32, 100%, 65%);
$clr-shade-10: hsl(225, 14%, 61%);
$clr-shade-11: hsl(222, 97%, 53%);
$clr-shade-12: hsl(145, 78%, 46%);
$clr-shade-13: hsl(224, 33%, 32%);
$clr-shade-14: hsl(25, 16%, 31%);
$clr-shade-15: hsl(156, 33%, 28%);
$clr-shade-16: hsl(224, 54%, 27%);
$clr-shade-17: hsl(220, 13%, 23%);
$clr-shade-18: hsl(224, 12%, 19%);
$clr-shade-19: hsl(231, 9%, 15%);
$clr-shade-20: hsl(0, 0%, 0%);
