// TYPOGRAPY
$fonts-size-S: 1.25rem;
$fonts-size-M: 1.6rem;
$fonts-size-L: 2rem;
$fonts-size-XL: 3rem;

// COLORS
$clr-primary: hsl(221, 94%, 28%);
$clr-secondary: hsl(337, 94%, 28%);
$clr-ternary: hsl(29, 94%, 28%);
