.size-S {
  font-size: 1.2rem;
}
.size-M {
  font-size: 1.5rem;
}
.size-L {
  font-size: 2.4rem;
}
.size-XL {
  font-size: 5rem;
}

.color-PRIMARY {
  background: hsl(221, 94%, 28%);
}
.color-SECONDARY {
  background: hsl(337, 94%, 28%);
}
.color-TERNARY {
  background: hsl(29, 94%, 28%);
}
