@use '../../../../../styles/index' as *;
$dark: rgb(0, 2, 128);
// '\f08d'; // pin icon
// '\f00d'; // cross mark
// '\f00c'; // tick (check)
.checkbox {
  --uncheck-icon: '\f068 ';
  --check-icon: '\f067';
  --lock-icon: '\f023';
  --ban-icon: '\f05e';

  --container-width: 6rem;
  --container-height: calc(var(--container-width) * 0.472);
  --button-radius: calc(
    var(--container-width) - var(--container-height) + 0.2rem
  );
  --toggle-swipe-width: calc(var(--container-height) - 0.2rem);
  --toggle-width: calc(var(--container-width) + 0.1rem);

  --left-track-color: hsl(0, 100%, 85%);
  --right-track-color: hsl(150, 100%, 25%);
  --left-thumb-color: hsl(0, 0%, 100%);
  --right-thumb-color: hsl(150, 100%, 50%);
  --left-label-color: hsl(0, 100%, 50%);
  --right-label-color: hsl(0, 0%, 100%);

  text-align: center;
  position: relative;
  display: block;
  // margin: 1rem auto 3rem;
  label {
    width: var(--container-width);
    height: var(--container-height);
    background: var(--left-track-color);
    position: relative;
    display: inline-block;
    border-radius: var(--button-radius);
    transition: all 0.25s;
    box-shadow: inset 0 rem(3px) rem(3px) hsla(150, 100%, 0%, 0.25);
    &:after,
    &:before {
      content: '';
      text-shadow: rem(0px) rem(0px) rem(2px) hsla(0, 0%, 0%, 0.25);
      position: absolute;
      width: var(--button-radius);
      height: var(--button-radius);
      border-radius: 100%;
      left: 0;
      top: rem(-5px);
      background: var(--left-thumb-color);
      box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.2);
      transition: all 0.25s;
    }
    &:before {
      content: var(--uncheck-icon);
      font-family: 'FontAwesome-Solid';
      font-weight: normal;
      font-size: x-large;
      line-height: var(--button-radius);
      color: var(--left-label-color);
      z-index: 1;
      overflow: hidden;
      //@include animation(.25s pin-off forwards)
    }
  }
  input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    &:not(:checked) ~ label .indicators::before {
      color: red;
    }
    &:checked ~ label .indicators::after {
      color: blue;
    }
    &:not(:disabled):hover + label:after {
      box-shadow: 0 rem(2px) rem(15px) 0 rgba(0, 0, 0, 0.2),
        0 rem(3px) rem(8px) 0 rgba(0, 0, 0, 0.15);
    }
    &:checked + label {
      background: var(--right-track-color);
      &:after,
      &:before {
        content: var(--check-icon);
        background: var(--right-thumb-color);
        color: var(--right-label-color);
        left: var(--toggle-swipe-width);
        font-size: x-large;
      }
      &:before {
        animation: 0.25s pin-on forwards;
      }
    }
  }
  @include disableBlueHightlight();
}
/*
@include keyframes(pin-on){
  80%{ line-height: 150px;}
  85%{ line-height: 1px; @include rotate(45deg); opacity:0}
  100%{ line-height: 50px; opacity:1; @include rotate(45deg)}
}
@include keyframes(pin-off){
   0%{@include rotate(45deg)}
  80%{ line-height: 150px; }
  85%{ line-height: 1px; opacity:0}
  100%{ line-height: 50px; opacity:1; }
}
*/
.checkbox {
  position: relative;
  width: var(--toggle-width);
}
.checkbox.disabled::after {
  content: var(--lock-icon);
  position: absolute;
  top: rem(10px);
  left: rem(66px);
  font-family: 'FontAwesome-Solid';
  font-size: rem(18px);
  color: hsla(0, 0%, 0%, 0.5);
  text-shadow: 0px rem(1px) rem(1px) hsla(0, 0%, 0%, 0.25);
}
// OR this version!
.checkbox.ban.disabled::after {
  content: var(--ban-icon);
}
.checkbox.disabled.checked::after {
  left: rem(24px);
  color: hsla(0, 0%, 100%, 0.75);
}
.disabled {
  input {
    cursor: not-allowed;
  }
}
small {
  display: block;
  font-size: rem(12px);
  font-weight: normal;
}
// .indicators {
//   text-transform: uppercase;
//   font-weight: bold;
//   &::before,
//   &::after {
//     position: absolute;
//     line-height: 40px;
//     cursor: pointer;
//   }
//   &::before {
//     left: -50px;
//     text-align: right;
//     content: attr(data-label-off);
//   }
//   &::after {
//     right: -50px;
//     text-align: left;
//     content: attr(data-label-on);
//   }
// }
// input:checked {
//   & ~ .indicators {
//   }
// }
