@use '../../../styles' as *;

.button {
  background: $clr-shade-19;
  border: solid rem(2px) $clr-shade-05;
  color: $clr-shade-05;
  height: 100%;
  width: 100%;
  border-radius: rem(10px);
  font-size: $fonts-size-XXXXL;
  cursor: pointer;
  &:focus {
    outline-color: $clr-shade-05;
  }
  &:hover {
    background: $clr-shade-19;
  }
}
