@import url("../../../styles/index.module.scss");

.circle {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &-center {
    align-items: center;
    justify-content: center;
  }
  &-top {
    align-items: flex-start;
    justify-content: center;
  }
  &-topLeft {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-topRight {
    align-items: flex-start;
    justify-content: flex-end;
  }
  &-bottom {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
