// COLORS
$clr-secondary: #8b0438;
$clr-primary: #042f8b;
$clr-ternary: #8b4504;
$clr-error: rgb(255, 110, 110);
$clr-warn: rgb(255, 198, 93);
$clr-info: rgb(48, 252, 48);

$clr-shade-01: #ffffff;
$clr-shade-02: #f5f7fb;
$clr-shade-03: #ebf0ff;
$clr-shade-04: #ffe5c7;
$clr-shade-05: #b5c9fa;
$clr-shade-06: #b2f5cb;
$clr-shade-07: #c3c3c3;
$clr-shade-08: #9ea4b3;
$clr-shade-09: #ffac4d;
$clr-shade-10: #8e95a9;
$clr-shade-11: #1359fb;
$clr-shade-12: #1ad166;
$clr-shade-13: #37456d;
$clr-shade-14: #5c4d42;
$clr-shade-15: #305f4c;
$clr-shade-16: #20336a;
$clr-shade-17: #333842;
$clr-shade-18: #2b2e36;
$clr-shade-19: #23242a;
$clr-shade-20: #000000;
