@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin dot {
  width: 0.8rem;
  height: 0.8rem;
  background: rgba($color: #ececec, $alpha: 1);
  border-radius: 50%;
  margin: 0.4rem;
  &:hover {
    filter: brightness(120%);
  }
}

@mixin title {
  font-size: $fonts-size-XL;
  font-weight: bold;
}
